<%- include("partials/header.ejs") %>

            <% if (results && results.length > 0) { %>
                <p>These famous <%= search %>'s took place on the <%= day %> of <%= month %></p>
                <% results.forEach(result => { %>
                <p>Year <%= result.year %></p>
                <p><%= result.description %></p>
                <p><a href="<%= result.wikipedia %>" target="_blank">Read more</a></p>
                <% }); %>
            <% } else { %>
                <p>Sorry we failed to find your result.</p>
            <% } %>
            
            <%- include("partials/footer.ejs") %>